* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
}

.game-container {
  width: 100vw;
  height: 100%;
  position: absolute;
}

/* .border-left {
  width: 80px;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 2;
}

.border-right {
  width: 80px;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 2;
  left: 900px;
} */

.sky {
  background: url(oceano.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 580px;
  position: absolute;
  object-fit: cover;
}

.ground {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgb(170, 168, 87) 0%, rgba(199,226,139,1) 100%);
  width: 100vw;
  height: 158.5px;
  position: absolute;
  background-size: cover;
  object-fit: cover;
  top: 490px;
  z-index: +1;
}

.planaria {
  background: url("planaria.png") no-repeat;
  position: absolute;
  width: 60px;
  height: 55px;
  background-size: 60px;
  object-fit: contain;
}

.obstacle {
  background: url(piranha.png) no-repeat;
  width: 90px;
  height: 300px;
  position: absolute;
  background-size: 120px 200px;
  object-fit: contain;
}

.topObstacle {
  background: url(piranha.png) no-repeat;
  transform: rotate(180deg);
  width: 90px;
  height: 300px;
  position: absolute;
  background-size: 120px 200px;
  object-fit: contain;
}
