* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
}

.game-container {
  width: 500px;
  height: 700px;
  position: absolute;
}

.border-left {
  width: 80px;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 2;
}

.border-right {
  width: 80px;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 2;
  left: 500px;
}

.sky {
  background-color: lightblue;
  width: 500px;
  height: 580px;
  position: absolute;
}

.ground {
  background: url("chão.png") no-repeat;
  width: 500px;
  height: 260px;
  position: absolute;
  background-size: cover;
  object-fit: cover;
  top: 476px;
  z-index: +1;
}

.planaria {
  background: url("planaria.png") no-repeat;
  position: absolute;
  width: 60px;
  height: 55px;
  background-size: 60px;
  object-fit: contain;
}

.obstacle {
  background-color: green;
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacle {
  background-color: green;
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}
